<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      {{ message }}
      <p>{{ yolo }}</p>
      <p>{{ name }}</p>
      <button v-on:click="ChangeMessage()">"click here!"</button>
      <p>Type your name here <input type="text" v-model="name"></p>

      <button v-on:click="ToggleInfo()">Toggle!</button>
      <p v-if="ShowInfo">I will hide this!</p>
    </div>
  </body>
</html>